#l2box1,
#l2box2,
#l2box3,
#l2box4 {
  width: 80px;
  height: 80px;
  display: inline-block;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#l2box1 {
  background-color: #990000;
  animation-name: l2box1_an;
}

#l2box2 {
  background-color: #006600;
  animation-name: l2box2_an;
}

#l2box3 {
  background-color: #000099;
  animation-name: l2box3_an;
}

#l2box4 {
  background-color: #ffff00;
  animation-name: l2box4_an;
}

@keyframes l2box1_an {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(80px, 0);
  }
  50% {
    transform: translate(80px, 80px);
  }
  75% {
    transform: translate(0, 80px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes l2box2_an {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, 80px);
  }
  50% {
    transform: translate(-80px, 80px);
  }
  75% {
    transform: translate(-80px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes l2box3_an {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, -80px);
  }
  50% {
    transform: translate(80px, -80px);
  }
  75% {
    transform: translate(80px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes l2box4_an {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-80px, 0);
  }
  50% {
    transform: translate(-80px, -80px);
  }
  75% {
    transform: translate(0, -80px);
  }
  100% {
    transform: translate(0, 0);
  }
}
