.load3 {
  float: right;
  display: inline-block;
}

#l3box1,
#l3box2,
#l3box3,
#l3box4 {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  display: inline-block;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#l3box1 {
  background-color: #ff6666;
  animation-name: l3box1_an;
}

#l3box2 {
  background-color: #66ff66;
  animation-name: l3box2_an;
}

#l3box3 {
  background-color: #3399ff;
  animation-name: l3box3_an;
}

#l3box4 {
  background-color: #ffcc00;
  animation-name: l3box4_an;
}

@keyframes l3box1_an {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(80px, 0);
  }
  50% {
    transform: translate(80px, 80px);
  }
  75% {
    transform: translate(0, 80px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes l3box2_an {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, 80px);
  }
  50% {
    transform: translate(-80px, 80px);
  }
  75% {
    transform: translate(-80px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes l3box3_an {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, -80px);
  }
  50% {
    transform: translate(80px, -80px);
  }
  75% {
    transform: translate(80px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes l3box4_an {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-80px, 0);
  }
  50% {
    transform: translate(-80px, -80px);
  }
  75% {
    transform: translate(0, -80px);
  }
  100% {
    transform: translate(0, 0);
  }
}
