.load3{
	float: right;
	display: inline-block;
}


#l3box1{
	width: 80px;
	height: 80px;
	border-radius: 50px;
	background-color: #ff6666;
	display: inline-block;
	animation-name: l3box1_an;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	
}

#l3box2{
	width: 80px;
	height: 80px;
	border-radius: 50px;
	background-color: #66ff66;
	display: inline-block;
	animation-name: l3box2_an;
	animation-duration: 2s;
	animation-iteration-count: infinite;
		
}

#l3box3{
	width: 80px;
	height: 80px;
	border-radius: 50px;
	background-color: #3399ff;
	display: inline-block;
	animation-name: l3box3_an;
	animation-duration: 2s;
	animation-iteration-count: infinite;
		
}

#l3box4{
	width: 80px;
	height: 80px;
	border-radius: 50px;
	background-color: #ffcc00;
	display: inline-block;
	animation-name: l3box4_an;
	animation-duration: 2s;
	animation-iteration-count: infinite;
		
}


@keyframes l3box1_an{
	0%{
		transform: translate(0,0);
	}
	25%{
		transform: translate(80px,0);
	}
	50%{
		transform: translate(80px,80px);
	}
	75%{
		transform: translate(0,80px);
	}
	100%{
		transform: translate(0,0);
	}
}

@keyframes l3box2_an{
	0%{
		transform: translate(0,0);
	}
	25%{
		transform: translate(0,80px);
	}
	50%{
		transform: translate(-80px,80px);
	}
	75%{
		transform: translate(-80px,0);
	}
	100%{
		transform: translate(0,0);
	}
}

@keyframes l3box3_an{
	0%{
		transform: translate(0,0);
	}
	25%{
		transform: translate(0,-80px);
	}
	50%{
		transform: translate(80px,-80px);
	}
	75%{
		transform: translate(80px,0);
	}
	100%{
		transform: translate(0,0);
	}
}

@keyframes l3box4_an{
	0%{
		transform: translate(0,0);
	}
	25%{
		transform: translate(-80px,0);
	}
	50%{
		transform: translate(-80px,-80px);
	}
	75%{
		transform: translate(0,-80px);
	}
	100%{
		transform: translate(0,0);
	}
}