
#l5box1{
	margin-top: 25%;
	width: 100px;
	height: 5px;
	background-color: #990000;
	display: inline-block;

	animation-name: l5box1_an;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	
}

@keyframes l5box1_an{
	from{
		transform: rotate(0deg);
	}

	to{
		transform: rotate(1800deg);
	}
	
}