.load3{
	float: right;
	display: inline-block;
}

#contain{
	margin-top: 200px;
	margin-left: 600px;
}


#loading{
	color:#003333;
	display: inline-block;
}

#l3dot1{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #006666;
	display: inline-block;
	animation-name: l3dot1_an;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}

#l3dot2{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #006666;
	display: inline-block;
	animation-name: l3dot2_an;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}


#l3dot3{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #006666;
	display: inline-block;
	animation-name: l3dot3_an;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}

#l3dot4{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #006666;
	display: inline-block;
	animation-name: l3dot4_an;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}

@keyframes l3dot4_an{
	0%{
		opacity: 0;
	}
	25%{
		opacity: 0.25;
	}
	50%{
		opacity: 0.5;
	}
	75%{
		opacity: 0.75;
	}
	100%{
		opacity: 1;
	}
}

@keyframes l3dot3_an{
	0%{
		opacity: 0.25;
	}
	25%{
		opacity: 0.5;
	}
	50%{
		opacity: 0.75;
	}
	75%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

@keyframes l3dot2_an{
	0%{
		opacity: 0.5;
	}
	25%{
		opacity: 0.75;
	}
	50%{
		opacity: 1;
	}
	75%{
		opacity: 0;
	}
	100%{
		opacity: 0.25;
	}
}


@keyframes l3dot1_an{
	0%{
		opacity: 0.75;
	}
	25%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	75%{
		opacity: 0.25;
	}
	100%{
		opacity: 0.5;
	}
}


#l3box1{
	width: 80px;
	height: 80px;
	border-radius: 50px;
	background-color: #009999;
	display: inline-block;
	animation-name: l3box1_an;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	
}

#l3box2{
	width: 80px;
	height: 80px;
	border-radius: 50px;
	background-color: #009999;
	display: inline-block;
	animation-name: l3box2_an;
	animation-duration: 2s;
	animation-iteration-count: infinite;
		
}

#l3box3{
	width: 80px;
	height: 80px;
	border-radius: 50px;
	background-color: #009999;
	display: inline-block;
	animation-name: l3box3_an;
	animation-duration: 2s;
	animation-iteration-count: infinite;
		
}

#l3box4{
	width: 80px;
	height: 80px;
	border-radius: 50px;
	background-color: #009999;
	display: inline-block;
	animation-name: l3box4_an;
	animation-duration: 2s;
	animation-iteration-count: infinite;
		
}


@keyframes l3box1_an{
	0%{
		transform: translate(0,0);
	}
	25%{
		transform: translate(80px,0);
	}
	50%{
		transform: translate(80px,80px);
	}
	75%{
		transform: translate(0,80px);
	}
	100%{
		transform: translate(0,0);
	}
}

@keyframes l3box2_an{
	0%{
		transform: translate(0,0);
	}
	25%{
		transform: translate(0,80px);
	}
	50%{
		transform: translate(-80px,80px);
	}
	75%{
		transform: translate(-80px,0);
	}
	100%{
		transform: translate(0,0);
	}
}

@keyframes l3box3_an{
	0%{
		transform: translate(0,0);
	}
	25%{
		transform: translate(0,-80px);
	}
	50%{
		transform: translate(80px,-80px);
	}
	75%{
		transform: translate(80px,0);
	}
	100%{
		transform: translate(0,0);
	}
}

@keyframes l3box4_an{
	0%{
		transform: translate(0,0);
	}
	25%{
		transform: translate(-80px,0);
	}
	50%{
		transform: translate(-80px,-80px);
	}
	75%{
		transform: translate(0,-80px);
	}
	100%{
		transform: translate(0,0);
	}
}