#heading{
	font-size: 400%;
	text-align: center;
	text-decoration: underline;
	font-family: Helvetica Neue;
	color: #330066;
}

.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 300px 300px 300px 300px;
  grid-column-gap: 1%;
  grid-row-gap: 15px;
  justify-content: space-between;
  padding: 30px;
  grid-column-start: 1;
  grid-column-end: 3;
  /*background-color: #996633;
*/
	background-color: #663300;
}
.grid-container>div {

background-color: #FFFFFF;
  text-align: center;
  vertical-align: center;
  padding:20px 0;
  font-size: 30px;
}

#contain{
	margin-top: 150px;
	margin-left: 600px;
}

#loading,#l1dot1,#l1dot2,#l1dot3,#l1dot4{
	margin-top: 20%;
}

#loading{
	color:#003333;
	display: inline-block;
}

#l1dot1{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #006666;
	display: inline-block;
	animation-name: l1dot1_an;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}

#l1dot2{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #006666;
	display: inline-block;
	animation-name: l1dot2_an;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}


#l1dot3{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #006666;
	display: inline-block;
	animation-name: l1dot3_an;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}

#l1dot4{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #006666;
	display: inline-block;
	animation-name: l1dot4_an;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}

@keyframes l1dot4_an{
	0%{
		opacity: 0;
	}
	25%{
		opacity: 0.25;
	}
	50%{
		opacity: 0.5;
	}
	75%{
		opacity: 0.75;
	}
	100%{
		opacity: 1;
	}
}

@keyframes l1dot3_an{
	0%{
		opacity: 0.25;
	}
	25%{
		opacity: 0.5;
	}
	50%{
		opacity: 0.75;
	}
	75%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

@keyframes l1dot2_an{
	0%{
		opacity: 0.5;
	}
	25%{
		opacity: 0.75;
	}
	50%{
		opacity: 1;
	}
	75%{
		opacity: 0;
	}
	100%{
		opacity: 0.25;
	}
}


@keyframes l1dot1_an{
	0%{
		opacity: 0.75;
	}
	25%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	75%{
		opacity: 0.25;
	}
	100%{
		opacity: 0.5;
	}
}


#l1box1,#l1box2,#l1box3,#l1box4{
	
}

#l1box1{
	width: 50px;
	height: 50px;
	background-color: #FF0000;
	display: inline-block;
	animation-name: l1box1_an;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	
}

#l1box2{
	width: 50px;
	height: 50px;
	background-color: #00CC00;
	display: inline-block;
	animation-name: l1box2_an;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
		
}

#l1box3{
	width: 50px;
	height:50px;
	background-color: #0000FF;
	display: inline-block;
	animation-name: l1box3_an;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
		
}

#l1box4{
	width: 50px;
	height: 50px;
	background-color: #FFFF00;
	display: inline-block;
	animation-name: l1box4_an;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
		
}


@keyframes l1box1_an{
	0%{
		transform: translate(0,0);
	}
	25%{
		transform: translate(50px,0);
	}
	50%{
		transform: translate(50px,50px);
	}
	75%{
		transform: translate(0,50px);
	}
	100%{
		transform: translate(0,0);
	}
}

@keyframes l1box2_an{
	0%{
		transform: translate(50px,0);
	}
	25%{
		transform: translate(50px,50px);
	}
	50%{
		transform: translate(0,50px);
	}
	75%{
		transform: translate(0,0);
	}
	100%{
		transform: translate(50px,0);
	}
}

@keyframes l1box3_an{
	0%{
		transform: translate(0,50px);
	}
	25%{
		transform: translate(0,0);
	}
	50%{
		transform: translate(50px,0);
	}
	75%{
		transform: translate(50px,50px);
	}
	100%{
		transform: translate(0,50px);
	}
}

@keyframes l1box4_an{
	0%{
		transform: translate(50px,50px);
	}
	25%{
		transform: translate(0,50px);
	}
	50%{
		transform: translate(0,0);
	}
	75%{
		transform: translate(50px,0);
	}
	100%{
		transform: translate(50px,50px);
	}
}