.load9inner {
  margin-top: 30%;
  margin-left: 50%;
  position: relative;
  width: 160px;
  height: 160px;
  transform: translate(-50%, -50%);
  animation: all-move 2s ease-in-out infinite;
}

@keyframes all-move {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(540deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(540deg);
  }
}

.l9dot-1,
.l9dot-2,
.l9dot-3 {
  margin-top: 30%;
}

.l9dot {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.l9dot-1 {
  background-color: #ff6666;
  animation: dot-1-move 2s ease infinite, index 6s ease infinite;
}
@keyframes dot-1-move {
  20% {
    transform: scale(1);
  }
  40% {
    transform: translate(-10px, -10px) scale(0.35);
  }
  60% {
    transform: translate(-50px, -50px) scale(0.35);
  }
  80% {
    transform: translate(-50px, -50px) scale(0.35);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}

.l9dot-2 {
  background-color: #ffff66;
  animation: dot-2-move 2s ease infinite, index 6s ease infinite;
}

@keyframes dot-2-move {
  20% {
    transform: scale(1);
  }
  40% {
    transform: translate(-10px, 10px) scale(0.35);
  }
  60% {
    transform: translate(-50px, 50px) scale(0.35);
  }
  80% {
    transform: translate(-50px, 50px) scale(0.35);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}

.l9dot-3 {
  background-color: #66ff66;
  animation: dot-3-move 2s ease infinite, index 6s ease infinite;
}

@keyframes dot-3-move {
  20% {
    transform: scale(1);
  }
  40% {
    transform: translate(10px, 10px) scale(0.35);
  }
  60% {
    transform: translate(50px, 50px) scale(0.35);
  }
  80% {
    transform: translate(50px, 50px) scale(0.35);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}

.l9dot-4 {
  background-color: #3366ff;
  animation: dot-4-move 2s ease infinite, index 6s ease infinite;
}

@keyframes dot-4-move {
  20% {
    transform: scale(1);
  }
  40% {
    transform: translate(10px, -10px) scale(0.35);
  }
  60% {
    transform: translate(50px, -50px) scale(0.35);
  }
  80% {
    transform: translate(50px, -50px) scale(0.35);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}

@keyframes index {
  0% {
    z-index: 4;
  }
  25% {
    z-index: 3;
  }
  50% {
    z-index: 2;
  }
  75% {
    z-index: 1;
  }
  100% {
    z-index: 4;
  }
}
